
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #51025a;
    color: white
}
.cabecalho{
    background-color: #0733a6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabecalho{
    width: 100%;
}
.curso{
    border: 1px solid white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(2, 11, 90, 0.97) 0%, rgba(128, 92, 232, 0.39) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: center;
}
.curso-titulo{
    color: white;
    text-align: center;
}
.container{
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(2, 11, 90, 0.97) 0%, rgba(128, 92, 232, 0.39) 100%);
    border: 1px solid #51025a;
    padding: 50px;
    display:grid;
    grid-template-columns: 50% 50%;
    height: auto;
    align-items: center;
    justify-content:space-around
}
.container div{
justify-content: space-around ;
align-items: center

}
.curso-titulo{
    justify-self: center;
}
.texto-um{
    text-align: justify;
    font-size: x-large;
}
.texto-dois{
    text-align: justify;
    font-size: x-large;
}
.texto-tres{
    text-align: start;
    font-size: x-large;
}
.div voo{
    align-items: center;
    justify-content: center;
}
.projeto-conteudo{
    text-align: center;
}
table{
    width: 1310px;
    border-collapse: collapse;
    border: 1px solid #51025a;
    justify-content: space-around;
}
td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
thead{
    border: 1px solid #51025a;
    background-color: blue;
    color: white;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
}
tbody{
    border: 1px solid #51025a;
    text-align: center;
    vertical-align: middle;
}
.rodape{
    background-color: black;
    text-align: center;
  }